h1{
    color: aqua;
}

table{
    font-family: cursive;
    border-collapse: collapse;
    border-width: 3px;
    border-style: double;
    border-color: darkorchid
}

th{
    font-weight: 800;
    background-color: darkorchid;
    color: fuchsia;
}