h1{
    color: aqua;
    font-family: fantasy;
}
h2{
    color: blue;
    font-family: serif;
}
ol{
    color: blueviolet;
    font-family: inherit;
}

table{
    font-family: cursive;
    border-collapse: collapse;
    border-width: 3px;
    border-style: double;
    border-color: darkorchid
}

th{
    font-weight: 800;
    background-color: darkorchid;
    color: fuchsia;
}